In [2]:
import pandas as pd

In [3]:
mvps = pd.read_csv("mvps.csv")

In [5]:
mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

In [6]:
mvps

              Player  Year  Pts Won  Pts Max  Share
0     Michael Jordan  1991    891.0      960  0.928
1      Magic Johnson  1991    497.0      960  0.518
2     David Robinson  1991    476.0      960  0.496
3    Charles Barkley  1991    222.0      960  0.231
4        Karl Malone  1991    142.0      960  0.148
..               ...   ...      ...      ...    ...
494    Stephen Curry  2023      5.0     1000  0.005
495     Jimmy Butler  2023      3.0     1000  0.003
496     De'Aaron Fox  2023      2.0     1000  0.002
497    Jalen Brunson  2023      1.0     1000  0.001
498        Ja Morant  2023      1.0     1000  0.001

[499 rows x 5 columns]

In [7]:
players = pd.read_csv("players.csv")

In [9]:
del players["Rk"]

In [10]:
players

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,.474,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,.413,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,.509,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,.394,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,.462,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19584,Thaddeus Young,PF,34,TOR,54,9,14.7,2.0,3.7,.545,...,1.3,1.8,3.1,1.4,1.0,0.1,0.8,1.6,4.4,2023
19585,Trae Young,PG,24,ATL,73,73,34.8,8.2,19.0,.429,...,0.8,2.2,3.0,10.2,1.1,0.1,4.1,1.4,26.2,2023
19586,Omer Yurtseven,C,24,MIA,9,0,9.2,1.8,3.0,.593,...,0.9,1.7,2.6,0.2,0.2,0.2,0.4,1.8,4.4,2023
19587,Cody Zeller,C,30,MIA,15,2,14.5,2.5,3.9,.627,...,1.7,2.6,4.3,0.7,0.2,0.3,0.9,2.2,6.5,2023
19588,Ivica Zubac,C,25,LAC,76,76,28.6,4.3,6.8,.634,...,3.1,6.8,9.9,1.0,0.4,1.3,1.5,2.9,10.8,2023

In [11]:
players["Player"] = players["Player"].str.replace("*", "", regex=False)

In [13]:
def single_row(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df["Tm"] == "TOT"]
        row["Tm"] = df.iloc[-1,:]["Tm"]
        return row

players = players.groupby(["Player", "Year"]).apply(single_row)

/var/folders/bf/l4h08ncx68xbswrxct3ky9w00000gn/T/ipykernel_61342/3626829246.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players = players.groupby(["Player", "Year"]).apply(single_row)

In [14]:
players.head(20)

                                 Player Pos Age   Tm   G  GS    MP   FG   FGA  \
Player        Year
A.C. Green    1991 164       A.C. Green  PF  27  LAL  82  21  26.4  3.1   6.6
              1992 633       A.C. Green  PF  28  LAL  82  53  35.4  4.7   9.8
              1993 1092      A.C. Green  PF  29  LAL  82  55  34.4  4.6   8.6
              1994 1579      A.C. Green  PF  30  PHO  82  55  34.5  5.7  11.3
              1995 2067      A.C. Green  SF  31  PHO  82  52  32.8  3.8   7.5
              1996 2563      A.C. Green  SF  32  PHO  82  36  25.8  2.6   5.4
              1997 3138      A.C. Green  PF  33  DAL  83  73  30.0  2.8   5.8
              1998 3725      A.C. Green  PF  34  DAL  82  68  32.3  3.0   6.5
              1999 4283      A.C. Green  PF  35  DAL  50  35  18.5  2.2   5.1
              2000 4811      A.C. Green  PF  36  LAL  82  82  23.5  2.1   4.7
              2001 5330      A.C. Green  PF  37  MIA  82   1  17.2  1.8   4.0
A.J. Bramlett 2000 4684   A.J. Bramlett   C  23  CLE   8   0   7.6  0.5   2.6
A.J. English  1991 127     A.J. English  SG  23  WSB  70  12  20.6  3.6   8.2
              1992 597     A.J. English  SG  24  WSB  81   6  20.6  4.5  10.4
A.J. Green    2023 19115     A.J. Green  SG  23  MIL  35   1   9.9  1.5   3.6
A.J. Guyton   2001 5333     A.J. Guyton  PG  22  CHI  33   8  19.1  2.4   5.8
              2002 5886     A.J. Guyton  PG  23  CHI  45   6  13.5  2.0   5.4
              2003 6393     A.J. Guyton  PG  24  GSW   2   0   4.5  0.0   2.0
A.J. Hammons  2017 14814   A.J. Hammons   C  24  DAL  22   0   7.4  0.8   1.9
A.J. Lawson   2023 19259    A.J. Lawson  SG  22  DAL  15   0   7.2  1.5   2.9

                           FG%  ...  ORB  DRB  TRB  AST  STL  BLK  TOV   PF  \
Player        Year              ...
A.C. Green    1991 164    .476  ...  2.5  3.8  6.3  0.9  0.7  0.3  1.2  1.4
              1992 633    .476  ...  3.7  5.6  9.3  1.4  1.1  0.4  1.4  1.7
              1993 1092   .537  ...  3.5  5.2  8.7  1.4  1.1  0.5  1.4  1.8
              1994 1579   .502  ...  3.4  5.8  9.2  1.7  0.9  0.5  1.2  1.7
              1995 2067   .504  ...  2.4  5.8  8.2  1.5  0.7  0.4  1.4  1.8
              1996 2563   .484  ...  2.0  4.7  6.8  0.9  0.5  0.3  1.0  1.7
              1997 3138   .483  ...  2.7  5.2  7.9  0.8  0.8  0.2  0.9  1.7
              1998 3725   .453  ...  2.7  5.5  8.1  1.5  1.0  0.3  0.8  1.9
              1999 4283   .422  ...  1.6  2.9  4.6  0.5  0.6  0.2  0.4  1.4
              2000 4811   .447  ...  2.0  4.0  5.9  1.0  0.6  0.2  0.6  1.5
              2001 5330   .444  ...  1.3  2.5  3.8  0.5  0.4  0.1  0.5  1.5
A.J. Bramlett 2000 4684   .190  ...  1.5  1.3  2.8  0.0  0.1  0.0  0.4  1.6
A.J. English  1991 127    .439  ...  0.9  1.2  2.1  2.5  0.4  0.2  1.6  1.8
              1992 597    .433  ...  0.9  1.2  2.1  1.8  0.4  0.1  1.1  2.0
A.J. Green    2023 19115  .424  ...  0.2  1.1  1.3  0.6  0.2  0.0  0.3  0.9
A.J. Guyton   2001 5333   .406  ...  0.3  0.8  1.1  1.9  0.3  0.2  0.7  1.1
              2002 5886   .361  ...  0.3  0.7  1.0  1.8  0.2  0.2  0.8  0.5
              2003 6393   .000  ...  0.0  0.0  0.0  1.0  0.5  0.0  0.5  0.0
A.J. Hammons  2017 14814  .405  ...  0.4  1.3  1.6  0.2  0.0  0.6  0.5  1.0
A.J. Lawson   2023 19259  .500  ...  0.4  1.0  1.4  0.1  0.1  0.0  0.2  0.7

                           PTS  Year
Player        Year
A.C. Green    1991 164     9.1  1991
              1992 633    13.6  1992
              1993 1092   12.8  1993
              1994 1579   14.7  1994
              1995 2067   11.2  1995
              1996 2563    7.5  1996
              1997 3138    7.2  1997
              1998 3725    7.3  1998
              1999 4283    4.9  1999
              2000 4811    5.0  2000
              2001 5330    4.5  2001
A.J. Bramlett 2000 4684    1.0  2000
A.J. English  1991 127     8.8  1991
              1992 597    10.9  1992
A.J. Green    2023 19115   4.4  2023
A.J. Guyton   2001 5333    6.0  2001
              2002 5886    5.4  2002
              2003 6393    0.0  2003
A.J. Hammons  2017 14814   2.2  2017
A.J. Lawson   2023 19259   3.7  2023

[20 rows x 30 columns]

In [15]:
players.index = players.index.droplevel()

In [16]:
players.index = players.index.droplevel()

In [17]:
players

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
164,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
633,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
1092,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
1579,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994
2067,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,.504,...,2.4,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6095,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,.505,...,1.1,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,2002
6595,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,.552,...,0.9,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,2003
7176,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,.442,...,1.0,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,2004
7776,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,.568,...,0.8,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,2005
8370,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,.542,...,0.4,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,2006

In [18]:
combined = players.merge(mvps, how="outer", on=["Player", "Year"])

In [19]:
combined.head(5)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN,NaN,NaN
1,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN,NaN,NaN
2,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN,NaN,NaN
3,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN,NaN,NaN
4,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,NaN,NaN,NaN

In [45]:
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [46]:
combined[combined["Pts Won"] > 0]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team
206,Al Jefferson,C,29,CHA,73,73,35.0,9.6,18.8,.509,...,0.9,1.1,1.7,2.4,21.8,2014,34.0,1250.0,0.027,Charlotte Bobcats
360,Allen Iverson,PG,21,PHI,76,74,40.1,8.2,19.8,.416,...,2.1,0.3,4.4,3.1,23.5,1997,1.0,1150.0,0.001,Philadelphia 76ers
362,Allen Iverson,SG,23,PHI,48,48,41.5,9.1,22.0,.412,...,2.3,0.1,3.5,2.0,26.8,1999,319.0,1180.0,0.270,Philadelphia 76ers
363,Allen Iverson,SG,24,PHI,70,70,40.8,10.4,24.8,.421,...,2.1,0.1,3.3,2.3,28.4,2000,132.0,1210.0,0.109,Philadelphia 76ers
364,Allen Iverson,SG,25,PHI,71,71,42.0,10.7,25.5,.420,...,2.5,0.3,3.3,2.1,31.1,2001,1121.0,1240.0,0.904,Philadelphia 76ers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14689,Vince Carter,SF,23,TOR,82,82,38.1,9.6,20.7,.465,...,1.3,1.1,2.2,3.2,25.7,2000,51.0,1210.0,0.042,Toronto Raptors
14690,Vince Carter,SF,24,TOR,75,75,39.7,10.2,22.1,.460,...,1.5,1.1,2.2,2.7,27.6,2001,7.0,1240.0,0.006,Toronto Raptors
14694,Vince Carter,SF-SG,28,NJN,77,76,36.7,9.0,20.0,.452,...,1.4,0.6,2.2,3.2,24.5,2005,3.0,1270.0,0.002,New Jersey Nets
15082,Yao Ming,C,23,HOU,82,82,32.8,6.5,12.5,.522,...,0.3,1.9,2.5,3.3,17.5,2004,1.0,1230.0,0.001,Houston Rockets
15087,Yao Ming,C,28,HOU,77,77,33.6,7.4,13.4,.548,...,0.4,1.9,3.0,3.3,19.7,2009,1.0,1210.0,0.001,Houston Rockets

In [47]:
teams = pd.read_csv("teams.csv")

In [48]:
teams = teams[~teams["W"].str.contains("Division")]

In [49]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False)

In [50]:
teams.head(5)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets

In [51]:
nicknames = {}
with open("nicknames.txt") as f:
    lines = f.readlines()
    for line in lines[1:]:
        abbrev, name = line.replace("\n", "").split(",")
        nicknames[abbrev] = name

In [52]:
combined["Team"] = combined["Tm"].map(nicknames)

In [53]:
combined.head(5)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0,Los Angeles Lakers
1,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0,Los Angeles Lakers
2,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0,Los Angeles Lakers
3,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0,Phoenix Suns
4,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0,Phoenix Suns

In [54]:
stats = combined.merge(teams, how="outer", on=["Team", "Year"])

In [55]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Share,Team,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,PG,29,ATL,79,79,32.7,5.6,12.9,.435,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,SF,31,ATL,81,81,38.0,9.5,20.2,.470,...,0.03,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,SF,25,ATL,78,2,14.9,2.2,4.6,.489,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
3,Gary Leonard,C,23,ATL,4,0,2.3,0.0,0.0,NaN,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
4,John Battle,SG,28,ATL,79,2,23.6,5.0,10.9,.461,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,Monte Morris,PG,27,WAS,62,61,27.3,4.0,8.3,.480,...,0.00,Washington Wizards,14,35,47,.427,9.0,113.2,114.4,-1.06
15232,Quenton Jackson,PG,24,WAS,9,0,15.0,2.1,4.7,.452,...,0.00,Washington Wizards,14,35,47,.427,9.0,113.2,114.4,-1.06
15233,Taj Gibson,C,37,WAS,49,2,9.8,1.3,2.6,.520,...,0.00,Washington Wizards,14,35,47,.427,9.0,113.2,114.4,-1.06
15234,Vernon Carey Jr.,C,21,WAS,11,0,2.5,0.2,0.7,.250,...,0.00,Washington Wizards,14,35,47,.427,9.0,113.2,114.4,-1.06
15235,Xavier Cooks,PF,27,WAS,10,1,12.6,1.7,2.8,.607,...,0.00,Washington Wizards,14,35,47,.427,9.0,113.2,114.4,-1.06

In [56]:
del stats["Unnamed: 0"]

In [63]:
stats["GB"] = stats["GB"].str.replace("—", "0")

In [64]:
stats = stats.apply(pd.to_numeric, errors="ignore")

/var/folders/bf/l4h08ncx68xbswrxct3ky9w00000gn/T/ipykernel_61342/3865212684.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  stats = stats.apply(pd.to_numeric, errors="ignore")

In [65]:
stats.dtypes

Player      object
Pos         object
Age          int64
Tm          object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W            int64
L            int64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [66]:
stats.to_csv("player_mvp_stats.csv")

In [67]:
highest_scoring = stats[stats["G"] > 70].sort_values("PTS", ascending=False).head(10)

In [71]:
numeric_stats = stats.select_dtypes(include=[float, int])

In [72]:
numeric_stats.corr()["Share"]

Age        0.018882
G          0.088435
GS         0.166251
MP         0.159783
FG         0.274044
FGA        0.245803
FG%        0.065300
3P         0.088732
3PA        0.089353
3P%        0.013179
2P         0.277054
2PA        0.252156
2P%        0.059527
eFG%       0.056936
FT         0.318932
FTA        0.324367
FT%        0.036780
ORB        0.103306
DRB        0.219090
TRB        0.191647
AST        0.198937
STL        0.171075
BLK        0.154789
TOV        0.233452
PF         0.074501
PTS        0.285735
Year      -0.009369
Pts Won    0.994841
Pts Max    0.522100
Share      1.000000
W          0.120713
L         -0.120178
W/L%       0.124477
GB        -0.099232
PS/G       0.038303
PA/G      -0.037968
SRS        0.119225
Name: Share, dtype: float64